{% extends 'layout/layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Welcome to Ballistics</h1>
<div>
    <form>
        <div>
            <label>
                Description
            </label>
            <input>
        </div>
        <div>
            <label>
                Bullet Style
                <input>
            </label>
        </div>
        <div>
            <label>
                Bullet Weight
                <input>
            </label>
        </div>
        <div>
            <label>
                Muzzle Velocity
                <input>
            </label>
        </div>
    </form>
</div>
{% endblock %}